customer-sapi-app-v1/src/main/mule/implementation/post-customer-state-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<flow name="post-customer-state-implementation-Flow"
		doc:id="32898bdf-dd57-42a3-8676-6737f2a51567">
		<choice doc:name="Choice" doc:id="8f2eea28-beaf-475e-bc71-0a83b1ef085f" >
			<when expression='#[vars.requestPayload.customerStateRequest.contactType == "mobile"]'>
				<salesforce:query doc:name="Query Query Customer state" doc:id="6ad50689-1f1a-460b-86ed-4c997144c699" config-ref="Salesforce_Config">
					<salesforce:salesforce-query ><![CDATA[select status__c from CustomeState__c where mobile__c = ':mobileNumber']]></salesforce:salesforce-query>
					<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"mobileNumber" : vars.requestPayload.customerStateRequest.mobile
}]]]></salesforce:parameters>
				</salesforce:query>
			</when>
			<otherwise >
				<salesforce:query doc:name="Query Customer state" doc:id="8570de44-f127-4002-8091-3644e0473b12" config-ref="Salesforce_Config" >
					<salesforce:salesforce-query ><![CDATA[select status__c from CustomeState__c where mobile__c = ':email']]></salesforce:salesforce-query>
					<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"mobileNumber" : vars.requestPayload.customerStateRequest.email
}]]]></salesforce:parameters>
				</salesforce:query>
			</otherwise>
		</choice>
		<choice doc:name="Choice" doc:id="61cf7c8b-66d9-456b-a497-b4f7bd4ba7a1" >
			<when expression='#[sizeOf(payload) != 0]'>
				<raise-error doc:name="Raise error" doc:id="4efa9cd0-1c1a-4526-b830-c2a0e264e803" type="CS:INVALID_USER" description="User Already Exist"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message to Create SFDC Request Payload for Registration Object" doc:id="72017f1b-0e55-4e5f-abe8-1916358e2baa">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[{
    "contactType__c": vars.requestPayload.customerStateRequest.contactType,
    "countryCode__c": vars.requestPayload.customerStateRequest.countryCode,
    "mobile__c": vars.requestPayload.customerStateRequest.mobile,
    "email__c": vars.requestPayload.customerStateRequest.email,
    "password__c": vars.requestPayload.customerStateRequest.password,
    "status__c": vars.requestPayload.customerStateRequest.status
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<logger level="INFO" doc:name="Request Logger Fro SFDC Call " doc:id="adaffd52-dd65-44ba-8995-6b8566367b10" message="#[%dw 2.0&#10;output application/json indent = false  &#10;---  &#10;{  	&#10;    TimeStamp: now(), 	&#10;    transactionId: vars.headers.'x-cms-transactionId', 	&#10;    AppName: app.name, 	&#10;    FlowName: flow.name, 	&#10;    BusinessProcessName:  &quot;Customer State&quot;, 	&#10;    Category:  &quot;Customer&quot;, 	&#10;    OriginatingApplication:  &quot;Process API&quot;, 	&#10;    DesinationApplication:  &quot;Salesforce&quot;, 	&#10;    CustomerId: &quot;NA&quot;, 	&#10;    txnState:  &quot;SFDC Request&quot; &#10;}]" />
				<salesforce:create doc:name="Create call to SFDC Registration Object To insert Registration Data " doc:id="6e6bb0f2-d341-4a34-a26c-aaf872928dc9" config-ref="Salesforce_Config" type="CustomeState__c" />
				<logger level="INFO" doc:name="Response Logger Fro SFDC Call " doc:id="c58f659a-420a-4ffc-945e-2189fb135105" message="#[%dw 2.0&#10;output application/json indent = false  &#10;---  &#10;{  	&#10;    TimeStamp: now(), 	&#10;    transactionId: vars.headers.'x-cms-transactionId', 	&#10;    AppName: app.name, 	&#10;    FlowName: flow.name, 	&#10;    BusinessProcessName:  &quot;Customer State&quot;, 	&#10;    Category:  &quot;Customer&quot;, 	&#10;    OriginatingApplication:  &quot;Process API&quot;, 	&#10;    DesinationApplication:  &quot;Salesforce&quot;, 	&#10;    CustomerId: &quot;NA&quot;, 	&#10;    txnState:  &quot;SFDC Response&quot; &#10;}]" />
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="Transform Message to Create Registration SAPI Response" doc:id="a9e74cb4-7b36-49e8-965b-a7cc78f16783">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  registrationResponse: {
    eventInstanceId: vars.headers.'x-cms-transactionId',
    status: "success"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
